@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,700;1,700&family=Roboto+Slab&display=swap');
:root{
	--black: #070707;
	--violet-jtc: #553555ff;
	--eggplant: #755b69ff;
	--cambridge-blue: #96c5b0ff;
	--aquamarine: #adf1d2ff;
}
*{
	font-family: monospace;
	color:ivory;
}
body {
	margin: 0;
	background-color: var(--black);
	padding: 0;
}
img{
	max-width: 50%;
	max-height: 25%;
	margin: 10px 0;
}
.round {
	border-radius: 50%;
}
.txtcenter *{
	align-content: center;
}
.marginzero {
	margin: 30px auto;
}
.whitetext {
	color: ivory;
}
.bigtext {
	font-size: 128px;
}
.center {
	text-align: center;
}
nav {
	width: 100%;
	padding: 10px 0;
	background: var(--violet-jtc);
}
.floatdiv {
	width: 100%;
	display: flex;
}
a{
	font-size: 24px;
	margin: 0 auto;
	padding: 5px 15px;
	text-decoration: none;
	color: white;
}
.ignorepadding {
	padding: initial;
	text-decoration: underline;
}
a:hover{
	background-color: var(--eggplant);
	color: white;
}
.current {
	background-color: var(--eggplant);
	color: white;
}
.bigtext {
	font-size: 128px;
}
.centerimg {display: block;
	margin: 30px auto;
	width: 25%;
}
p {
	margin: 0 10%;
	font-size: 20px;
}